body
  margin: 0
  background-color: green

#root
  position: fixed
  width: 100vw
  height: 100vh
  display: flex
  > *
    flex: 1

#dock
  position: fixed
  width: 100vw
  margin-left: 10px
  margin-right: 10px
  height: 180px
  background: url("/images/dock.png") bottom no-repeat
  background-size: 800px 80px
  bottom: 0

#main
  background-color: white