.DS_Store
.idea/
app/
app-old/lib/
app-old/images
static/
server/nginx/logs/
server/modules/*.js*
server/mongodb/data/
server/vkontakte.js*
node_modules/
server/node_modules/
gulpfile.js*
images/
client/lib/
client/*css*
client/coffee/*.js*
client/.sass-cache
