.last-message {
    align-items: flex-start;
    border-bottom: 1px solid #dddee0;
    border-top: 1px solid #f3f3f3;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 25px;
    padding-top: 13px;
    /*margin: 8px 4px;*/
}

.last-message:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.last-message .content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: flex-start;
}

.last-message .text {
    color: #999999;
    flex: 1 1 0;
    font-size: 12px;
    height: 35px;
    line-height: 18px;
    overflow: hidden;
    text-align: left;
}

.last-message .source .avatar {
    display: none;
}

.last-message .peer {
    display: flex;
    min-width: 160px;
}

.last-message .peer .details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.last-message .name, .last-message .time {
    color: #999999;
    font-size: 10px;
}

.last-message.mine.unread .content {
    background-color: rgba(0, 0, 0, 0.05);
}

.last-message:not(.mine).unread {
    background-color: rgba(0, 0, 0, 0.05);
}

.last-message.online .online-indicator {
    display: inline-block;
    margin-left: 4px;
}

.attitude {
    display: flex;
    height: 22px;
}

.attitude > * {
    cursor: pointer;
}

.mine .attitude {
    width: 40px;
    background: url("/images/own-attitude.png") top no-repeat;
}

.mine .attitude[data-attitude="like"] {
    background-position: bottom;
}

.mine .attitude .hate {
    display: none;
}

.mine .attitude > * {
    width: 50%;
}

.other .attitude {
    width: 56px;
    background: url("/images/attitude.png") top no-repeat;
}

.other .attitude[data-attitude="like"] {
    background-position: center;
}

.other .attitude[data-attitude="hate"] {
    background-position: bottom;
}

.other .attitude > * {
    width: calc(100%/3);
}

.view.post > .content {
    display: flex;
    text-align: left;
}

.view.post > .controls {
    align-items: center;
    color: #cad3df;
    display: flex;
    margin-bottom: 21px;
    margin-right: 8px;
}

select.form-control {
    color: #999999;
    font-family: "panton", serif;
    font-size: 14px;
    margin: 4px 6px;
    max-width: 100% !important;
    padding: 15px 5%;
    border-radius: 5px;
    border: 1px solid #999;
    cursor: pointer;
}

textarea.form-control {
    box-sizing: border-box;
    color: #999999;
    font-family: "panton", serif;
    font-size: 14px;
    margin: 4px 6px;
    max-width: 100% !important;
    padding: 15px 5%;
    border-radius: 5px;
    border: 1px solid #999;
}

section.buttons button {
    background: #147ce4 none repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-family: "panton", serif;
    margin-right: 6%;
    margin-top: 5px;
    padding: 10px 50px;
    border: 0 solid;

}

#right .last-message {
    max-width: 100%;
    padding: 3%;
    width: 94%;
}

#left .view.last-message {
    padding: 3%;
    width: 94%;
    max-width: 100%;
}

.list.scroll.mCustomScrollbar._mCS_2 > div > div {
    margin-bottom: 20px;
}

input.form-control, .city > div > input {
    box-sizing: border-box;
    color: #999999;
    font-family: "panton", serif;
    font-size: 14px;
    margin: 4px 6px;
    max-width: 100%;
    padding: 15px 5%;
    width: 92%;
    border: 1px solid #999;
    border-radius: 5px;
    max-width: 100%;
}

.form-edit {
    margin-bottom: 200px;
}

.form-edit button {
    margin-bottom: 120px;
}

.view.post > .controls > .comment {
    color: #CAD3DF;
}

.view.post > .controls > .comment:hover {
    text-decoration: underline;
}

.view.post > .controls > .comment .fa-comment {
    margin-right: 4px;
}

.view.post > .controls > * {
    cursor: pointer;
}

.view.post > .controls .remove {
    margin-right: 6px;
}

.title .name {
    font-family: panton,serif;
    font-size: 20px;
    text-shadow: 1px 1px 0 #808080;
}

.view.post > .controls .comment > * {
    display: inline-block;
}

.view.post > .controls .fa-reply {
    transform: scaleX(-1);
}

.profile-relative article > .right {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #dcdcdc -moz-use-text-color #dcdcdc #dcdcdc;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    margin-bottom: 200px;
    min-height: 30vh;
}

.male .avatar {
    background-image: url("/images/male.png");
}

.female .avatar {
    background-image: url("/images/female.png");
}

.layout-dialog {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}

.layout-dialog .list > div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    overflow-x: hidden;
}

.layout-dialog .list .message {
    display: flex;
    justify-content: flex-end;
    opacity: 0;
}

.layout-dialog .list .message.unread {
    background-color: rgba(0, 0, 0, 0.05);
}

.layout-dialog .list .message .text {
    border-radius: 4px;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 20px;
    min-width: 60px;
    padding: 11px 15px 12px;
    position: relative;
    text-align: left;
    width: 60%;
}

.layout-dialog .list .message.other .text {
    border-radius: 4px;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 20px;
    min-width: 60px;
    padding: 11px 15px 12px;
    position: relative;
    text-align: left;
    width: 60%;
}

.wall .avatar {
    width: 46px;
}

.layout-dialog .list .message .text a:hover {
    text-decoration: underline;
}

.layout-dialog .list .message .text:after {
    position: absolute;
    display: inline-block;
    content: '';
    top: 8px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.layout-dialog .list .message .time {
    color: #aaacad;
    font-family: "roboto", serif;
    font-size: 9px;
    font-weight: 400;
    min-width: 20%;
}

.layout-dialog .list .message.mine .time {
    margin-right: 5px !important;
}

.layout-dialog .list .message.other .time {
    margin-left: 5px !important;
}

.message.other .name {
    font-size: 12px;
    margin-left: 8px;
    margin-top: 3px;
    text-align: left;
}

.message.mine .name {
    font-size: 12px;
    margin-right: 8px;
    margin-top: 3px;
    text-align: left;
}

.layout-dialog .list .message.mine {
    flex-direction: row;
    /*width: 80%;*/
}

.layout-dialog .list .message.mine .text {
    background-color: #4aa1d9;
    border-top: 1px solid #6eb4e1;
    color: #ffffff;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 20px;
    margin-right: 10px;
    min-height: 42px;
    padding: 11px 15px 13px;
    text-align: left;
    /*width: 60%;*/
}

.layout-dialog .list .message.mine .text a {
    color: yellow;
}

.layout-dialog .list .message.mine .text a.image {
    display: block;
    margin: 6px 0;
    border-radius: 4px;
}

.layout-dialog .list .message.mine .text a.image img {
    max-width: 384px;
    max-height: 128px;
}

.layout-dialog .list .message.mine .text::after {
    border-left: 8px solid #4aa1d9;
    right: -8px;
}

.layout-dialog .list .message.mine .time {
    text-align: right;
    margin-right: 4px;
}

.layout-dialog .list .message.other {
    flex-direction: row-reverse;
    /*width: 80%;*/
}

.layout-dialog .list .message.other .text {
    background-color: #ECEFF4;
    color: black;
}

.layout-dialog .list .message.other .text a {
    color: #3892CD;
}

.layout-dialog .list .message.other .text:after {
    border-right: 8px solid #ECEFF4;
    left: -8px;
}

.layout-dialog .list .message.other .time {
    text-align: left;
    margin-right: 4px;
}

.layout-dialog .list .message.visible {
    opacity: 1;
    transition: opacity 600ms;
}

.layout-dialog .bottom {
    min-height: 76px;
}

.dialog .layout-editor {
    border-top: 1px solid black;
}

.layout-editor .editor-container {
    align-items: center;
    border-top: 1px solid #cccccc;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 25px 35px;
}

.layout-editor .button {
    background: no-repeat center;
    cursor: pointer;
}

.layout-editor .attach {
    background-image: url("/images/attach.png");
}

.layout-editor .text {
    border: medium none;
    color: #aaacad;
    display: block;
    flex: 1 1 0;
    font-family: "panton", serif;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    resize: none;
    text-align: left;
    margin-right: 10px;
}

.layout-editor .smile {
    font-size: 1.2em;
    margin-right: 15px;
}

.layout-editor .send {
    background-image: url("/images/send.png");
    background-size: contain;
}

.layout-editor .smiles span {
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
    font-size: 1em;
    transition: font-size 0.2s;
    vertical-align: top;
}

.layout-editor .smiles span:hover {
    font-size: 1.5em;
    transition: font-size 0.2s;
}

.online .online-indicator {
    border-radius: 50%;
    background-color: #8FC44B;
    width: 8px;
    height: 8px;
}

.view.post > .content .time {
    opacity: 0.3;
}

@media (min-width: 1201px), (max-width: 980px) {
    .editor-container > div {
        height: 36px;
        width: 36px;
    }

    .view.post .message .name {
        color: #656a6e;
        display: block;
        font-size: 15px;
        margin-top: 13px;
    }

    .view.post .message > * {
        margin-left: 8px;
        margin-right: 8px;
    }

    .view.post .info {
        height: 78px;
        text-align: center;
        width: 70px;
    }

    .view.post .info a.name {
        display: none;
    }

    .view.post .info .time {
        font-size: 0.8em;
        margin-top: 8px;
    }

    .view.post .info .container {
        background-color: #eceff4;
        min-width: 64px;
        padding: 8px 3px;
    }

    .view.post .info .container > * {
        margin-left: auto;
        margin-right: auto;
    }

    .avatar {
        background-image: url("/images/male.png");
        background-position: center center;
        background-size: cover;
        border-radius: 50%;
        height: 46px;
        margin-left: 7px;
        margin-right: 10px;
        min-width: 46px;
        width: 46px;
    }

    .controls {
        justify-content: flex-end;
    }

    hr {
        border: none;
        border-bottom: 1px solid #d7e7f4;
    }
}

@media (max-width: 1200px) and (min-width: 981px) {
    .editor-container > div {
        height: 20px;
        width: 20px;
    }

    .view.post {
        margin-bottom: 8px;
    }

    .view.post .message a.name {
        display: none;
    }

    .view.post .content {
        flex-direction: column;
    }

    .view.post .comment {
        padding: 0;
    }

    .view.post .info {
        background-color: #ECEFF4;
    }

    .view.post .info .time {
        font-size: 0.5em;
    }

    .view.post .info .container > * {
        display: inline-block;
        vertical-align: middle;
    }

    .view.post .info .container .avatar {
        background-size: cover;
        margin: 2px;
        width: 22px;
        height: 22px;
    }

    .view.post .info hr {
        display: none;
    }

    .controls {
        justify-content: space-between;
    }
}

.emoji, .smile {
    width: 20px;
    height: 20px;
}

.big .emoji {
    width: auto;
    height: auto;
}

.comment.unemitted > span:last-child {
    font-size: 12px;
    text-decoration: underline;
}

.messenger {
    display: flex;
}

.messenger .dialog-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 40% !important;
    min-width: 40% !important;
}

.messenger .dialog-list .list {
    flex: 1;
}

.messenger .dialog-list .search {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    margin-bottom: 121px;
}

.dialog-region {
    border-left: 1px solid #d3d3d3;
    box-sizing: border-box;
    width: 100%;
}

.message .dialog {
    height: 100%;
}

.last-message .center .name {
    color: #656a6e !important;
    font-size: 13px;
    line-height: 1.4;
    margin-top: 0;
    text-align: left;
}

.last-message > .center {
    max-width: 170px;
}

.search input {
    background: #eceff4 none repeat scroll 0 0;
    border: 0 none;
    float: left;
    padding: 10px;
    width: 85%;
}



.search .icon.fa.fa-search {
    background: #e0e0e0 none repeat scroll 0 0;
    float: left;
    padding: 12px 0 11px;
    width: 15%;
    cursor: pointer ;
}

#right .search .icon.fa.fa-search {
    background: #e0e0e0 none repeat scroll 0 0;
    cursor: pointer;
    float: left;
    padding: 8px 0;
    width: 15%;
}

.layout-dialog .editor {
    margin-top: 10px;
}

.layout.comment {
    /*border-left: 1px solid #cccccc;*/
    margin-bottom: 20px;
    margin-left: 3%;
    margin-top: -10px;
    padding-left: 2%;
}

.files .photo-thumbnail {
    display: inline-block;
    width: 96px;
    height: 96px;
}
