.answer {
    width: 88px;
    height: 88px;
    background: url("/images/answer-dismiss.png") top;
}

.dismiss {
    width: 88px;
    height: 88px;
    background: url("/images/answer-dismiss.png") bottom;
}

.incoming-call {
    background-color: rgba(0, 0, 0, 0.5);
}

.incoming-call .buttons {
    display: flex;
}

.incoming-call .buttons > * {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.presentation {
    width: 100%;
    height: 100%;
    border: none;
}

.presentation canvas {
    width: 100%;
    height: 100%;
}
