.layout-video-list .busy {
    opacity: 0.2;
}

.layout-video-list .frame {
    text-align: center;
}

.layout-video-list .list {
    float: left;
    height: 100%;
    overflow-y: auto;
}

.layout-video-list .resize {
    color: grey;
    height: 4px;
}

.layout-video-list .search {
    background-color: #e0e0e0;
    float: left;
    margin-bottom: 6px;
    width: 100%;
}

.frame {
    max-height: 150px;
}

.layout-video-list .search > * {
    line-height: 28px;
    vertical-align: middle;
}

.layout-video-list .search .icon {
    padding-left: 2px;
    text-align: center;
    width: 26px;
}
.layout-video-list .search input {
    border: 3px solid #e0e0e0;
    border-radius: 0;
    line-height: 24px;
    padding: 7px 11px;
    width: 85%;
}

#right .thumbnail-video figure {
    display: inline-block;
    margin: 2px 3% 2px 0;
    vertical-align: top;
    width: 47%;
}

#left .thumbnail-video figure {
    display: inline-block;
    margin: 2px 0 2px 3%;
    vertical-align: top;
    width: 47%;
}

.thumbnail-video figure figcaption {
    font-size: 0.8em;
}

.thumbnail-video figure img {
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    margin: 2px auto;
    width: 100%;
}

.frame, .frame iframe {
    max-width: 100%;
    width: 100%;
    height: auto;
}

#left .search .icon.fa.fa-search {
    background: #e0e0e0 none repeat scroll 0 0;
    cursor: pointer;
    float: left;
    padding: 5px 0 11px;
    width: 15%;
}