.front
  height: 100vh
  #left, #right, #root > .add, #dock
    display: none
  button
    background-color: #207FE2
    color: white
  .form-control, button
    border: 1px solid #9E9E9E
    border-radius: 4px
  &.login
    font-family: Panton, "Droid Sans", Ubuntu, sans-serif
    background: url("/images/front-bg.jpg") top
    background-size: cover
    .form-login
      display: inline-block
      position: absolute
      left: 50%
      width: 50%
      fieldset
        display: inline-block
        background-color: rgba(255, 255, 255, 0.2)
        padding: 8px 6px
        margin-top: 12px
        border: 1px solid rgba(255, 255, 255, 0.6)
        border-radius: 4px
        > *
          display: inline-block
          input
            width: 96px
      .signup
        display: inline-block
        background: linear-gradient(to bottom, rgba(255, 168, 76, 1) 0%, #FA571F 100%)
        background: -webkit-linear-gradient(top, rgba(255, 168, 76, 1) 0%, #FA571F 100%)
        background: -moz-linear-gradient(top, rgba(255, 168, 76, 1) 0%, #FA571F 100%)
        background: rgb(255, 168, 76)
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75)
        color: white
        margin: 25vh auto
        border-radius: 4px
        -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75)
        -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75)
        a
          display: block
          color: white
          margin: 12px 32px

.form-login
  text-align: left
  .title
    font-size: 2em
    color: white
    text-shadow: -2px 1px 2px rgba(128, 128, 128, 0.666)
    text-transform: uppercase
    .welcome
      font-weight: 100
    .evart
      font-size: 1.5em
      font-weight: bold
    .social-network
      display: inline-block
      font-size: 0.8em
      font-weight: 100

.social-network
  background-color: #40A8FC
  padding: 4px 6px

.form-signup
  display: inline-block
  h1
    font-size: 18px
    color: #207FE2
  h2
    font-size: 12px
    color: #9E9E9E
  .step-container
    position: relative
    margin-bottom: 12px
    .line
      position: absolute
      top: 0
      left: 12px
      right: 12px
      margin: auto
      border-bottom: 2px solid #CBD3DF
      width: calc(100% - 48px)
      height: 14px
      z-index: -1
  .steps
    display: flex
    justify-content: space-between
    > div
      text-align: center
      > div
        margin: auto
    .label
      color: #CBD3DF
      text-transform: uppercase
    .circle
      font-size: 0.7em
      background-color: #CBD3DF
      color: white
      border: 3px solid #F8F8F8
      border-radius: 50%
      line-height: 24px
      text-align: center
      width: 24px
      vertical-align: middle
      z-index: 1

.layout-signup
  overflow-y: auto
  > *
    text-align: center
  fieldset
    border: none
  .form-login
    .title, .signup
      display: none
    fieldset > *
      display: inline-block
      margin-left: 4px
      margin-right: 4px
  .fields fieldset
    display: none
  background-color: #F8F8F8
  input, button
    padding: 8px
    margin-top: 8px
    border-radius: 4px
    width: 128px
  .phone, .code
    button
      margin-left: 16px

$steps: phone code personal
@each $i in $steps
  [data-step="#{$i}"]
    .fields .#{$i}
      display: block
    .steps .#{$i}
      .circle
        background-color: #207FE2
      .label
        color: #207FE2

.front-footer
  display: none

.front .front-footer
  position: fixed
  bottom: 0
  left: 0
  right: 0
  width: 100%
  height: 170px
  > .images
    top: 45px
    height: 125px
    bottom: 0
    position: relative
    > *
      position: absolute
      bottom: 0
    .left
      height: 170px
      width: 365px
      right: 50%
      z-index: 2
      background: url("/images/front-bg-footer-left.png") bottom no-repeat
      .copyright
        text-align: left
        margin-top: 120px
        margin-left: 120px
        font-size: 6pt
    .right
      background-color: #E4E4E4
      height: 125px
      right: 0
      left: 0
      width: 100%
      z-index: 1
      text-align: right
      img
        z-index: 1

.login-region fieldset
  text-align: center

@media (min-height: 631px)
  .front
    .form-signup
      margin-top: 5vh
    .front-footer
      display: block

@media (max-height: 630px)
  .front-footer
    display: none
