.message-layout, .last-message
  .children
    background-color: #BCBCBC
    padding-left: 8px
  .time
    font-size: 0.7em
  .ip
    color: white

.last-message
  cursor: pointer
  display: flex
  flex-direction: row
  &:hover
    background-color: ghostwhite

.dialog
  display: flex
  flex-direction: column

.unread
  background-color: greenyellow
  &:hover
    background-color: green

.like-slider-container
  width: 36px
  line-height: 12px
  //border: 1px solid black
  border-radius: 7px
  text-align: center
  background-color: #BCBCBC
  border: none

  .like-slider
    width: 10px
    height: 10px
    line-height: 12px
    background-color: white
    border-radius: 50%
    border: 1px solid transparent
    margin: auto

  &.like > .like-slider
    float: right
    &:before
      content: '+'

  &.hate > .like-slider
    float: left
    &:before
      content: '-'

.message-layout
  .info
    border-bottom: 1px solid #BCBCBC
    > div
      background-color: #ECEFF4
      text-align: center
      padding: 6px
      margin-bottom: 4px
      .time
        color: #BCBCBC
        font-size: 0.5em
      > *
        margin: auto
      .avatar
        margin-bottom: 6px
  .content
    display: flex
    .text
      padding: 4px

.message-controls
  color: #BCBCBC
  text-align: right
  > *
    vertical-align: middle
    display: inline-block
  > button
    background-color: transparent
    border: none
    color: #BCBCBC
  .fa-reply
    transform: scaleX(-1)

.profile-relative
  .unread
    background-color: transparent