form
  .error
    color: red

.readonly
  label
    min-width: 5em
    &:after
      content: ":"
  .form-control
    display: inline-block
    width: auto
    margin-left: 1em
    line-height: 0.8em
    background-color: transparent
    border: none
    box-shadow: none
  button
    display: none

.avatar
  width: 32px
  height: 32px
  border-radius: 50%
  background-size: cover

.thumbnail
  max-width: 128px
  max-height: 128px

.thumbnail
  display: inline-block
  img
    max-width: 192px
    max-height: 192px

.error
  color: red

.photo img
  max-width: 80vh
  max-height: 80vh

.photo-thumbnail
  width: 128px
  height: 128px
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  margin: 2px

.audio > .title
  display: flex
  justify-content: space-between
  .author:after
    content: ' - '
    text-align: left
  .name
    flex-grow: 1
    margin-left: 2px
    margin-right: 1em
  .duration
    margin-right: 1em
  .bit_rate
    color: grey

.video-thumbnail > img
  max-width: 200px

.conference-controls .fa
  cursor: pointer

video
  background-color: black

.profile-relative
  position: relative
  text-align: center
  header
    text-align: left
    margin: auto
    padding: 32px 40px
    max-width: 400px
    .photo
      background-size: cover
    .informer
      color: white
      vertical-align: top
      text-align: center
      .value
        margin-top: 18px
      .label
        margin: 8px auto auto
        text-transform: uppercase
        font-size: 6pt
      &.audio
        background-color: #EE3063
      &.track
        background-color: #4EA6FA
      &.friends
        background-color: #31356C
      &.followers
        background-color: #31ABE0
      &.groups
        background-color: #EE5A34
      &.video
        background-color: #8FC449
    .avatar-block-placeholder
      float: right
      width: 104px
      height: 144px
      margin: 8px
  .background
    position: absolute
    background: url("http://www.hdwallpapers.in/download/fresh_nature-1280x720.jpg") no-repeat center
    background-size: cover
    width: 100%
    height: 340px
    -webkit-filter: blur(1px)
    filter: blur(1px)
    z-index: -1
  .tile
    display: inline-block
    white-space: nowrap
    width: 64px
    height: 64px
  .title
    textarea
      color: #BCBCBC
    vertical-align: top
    color: white
    display: inline-block
    width: 192px
    height: 64px
  .location
    margin-top: 0.2em
    font-size: 0.8em
  .status
    margin-top: 0.3em
    font-size: 0.8em
    color: #BCBCBC
    background-color: transparent
    border: none
    resize: none
    width: 180px
  article
    display: flex
    .left
      flex: 1
      text-align: center
    .right
      flex: 2.5
      padding: 4px
      background-color: white

  .avatar-block
    display: inline-block
    padding: 4px
    background-color: white
    .buttons
      margin-top: 16px
      background-color: #ECEFF4
      border: 1px solid #BCBCBC
      border-radius: 2px
    button
      background-color: transparent
      border: none
      color: #BCBCBC
      border-left: 1px solid #BCBCBC
    button:first-child
      border: none

  .big-avatar
    background-size: cover
    width: 96px
    height: 96px

@media (max-width: 1024px)
  article
    flex-flow: column
    .left
      margin-right: 8px
      margin-bottom: 8px
      .avatar-block
        float: right
  .profile-relative
    header
      padding: 16px 20px
      .photo
        display: none
  .hiddable
    display: none !important
  .background
    height: 300px

@media (min-width: 769px) and (max-width: 1024px)
  article
    margin-top: -64px

@media (max-width: 768px)
  #left,
  #root > .add.left,
  #root > .add.right,
  #right
    display: none

  .profile-relative
    > *
      width: 100vw
      position: absolute
      flex-flow: column
    > article
      margin-top: 8px

@media (min-width: 341px) and (max-width: 768px)
  .profile-relative > header
    width: calc(100vw - 136px)

@media (max-width: 400px)
  .profile-relative
    .title
      width: 128px

@media (min-width: 340px) and (max-width: 400px)
  .profile-relative .avatar-block
    margin-bottom: 64px

@media (max-width: 340px)
  .avatar-block
    background-color: transparent !important
    margin-top: 96px
    border: none
    .big-avatar
      display: none
