.answer
  background-color: #8BD136

.dismiss
  background-color: #F05043

.incoming-call
  background-color: rgba(0, 0, 0, 0.5)
  .buttons
    display: flex
    > *
      width: 32px
      height: 32px
      border-radius: 50%
      cursor: pointer

.presentation
  canvas
    width: 100%
    height: 100%
  width: 100%
  height: 100%
  border: none
