@import 'var.sass'

.layout-profile.group
  article
    flex-direction: row-reverse

.profile-relative
  position: relative
  text-align: center
  header
    position: relative
    padding: 32px 30px
    margin: auto
    text-align: left
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-content: center
    .photo
      background-size: cover
    .informer
      color: white
      text-align: center
      vertical-align: top
      .value
        margin-top: 18px
      .label
        font-size: 6pt
        margin: 8px auto auto
        text-transform: uppercase
      &.audio
        background-color: #EE3063
      &.track
        background-color: #4EA6FA
      &.friends
        background-color: #31356C
      &.followers
        background-color: #31ABE0
      &.groups
        background-color: #EE5A34
      &.video
        background-color: #8FC449
    .avatar-block-placeholder
      margin: 8px
      float: right
      width: 104px
      height: 144px
  .background
    position: absolute
    background: url("/images/profile-bg.jpg") no-repeat center
    background-size: cover
    filter: blur(1px)
    width: 100%
    z-index: -1
  > .fa-camera
    left: 6px
    top: 6px
    //-webkit-filter: blur(1px)
  .tile
    white-space: nowrap
  .title
    textarea
      color: #BCBCBC
      overflow: hidden
    vertical-align: top
    color: white
    display: inline-block
  .location
    font-size: 0.8em
    margin-top: 0.2em
  .status
    font-size: 0.8em
    background-color: transparent
    color: #BCBCBC
    margin-top: 0.3em
    border: none
    width: 180px
    resize: none
  article
    display: flex
    > .left
      flex: 1
      text-align: center
    > .right
      flex: 2
      background-color: white
      padding: 4px

  .avatar-block
    display: inline-block
    background-color: white
    padding: 4px
    //.buttons
      background-color: #ECEFF4
      margin-top: 16px
      border: 1px solid #BCBCBC
      border-radius: 2px
      cursor: pointer

  .big-avatar
    position: relative
    background-size: cover
    .fa-camera
      right: 6px
      bottom: 6px

  .fa-camera
    position: absolute
    color: gainsboro
    cursor: pointer

.form-edit
  display: inline-block
  margin: auto
  text-align: left
  h1
    text-align: center
    .title
      margin-left: 8px
  .field-domain
    input
      font: $font
      background-color: transparent
      margin-left: -1px
      border: none
  .form-control
    width: calc(100% - 26px)

.friend .list > div
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  > a
    display: inline-block
    width: calc(30% - 8px)
    > div
      display: flex
      border-bottom: 1px solid $text_color
      > div
        margin: 4px

.profile-buttons, .other-profile-buttons
  display: flex
  height: 30px
  width: 90px
  background: no-repeat center
  > div
    flex: 1
    //border-right: 1px solid #BCBCBC
  //> div:last-child
    border-right: none

.profile-buttons
  cursor: pointer

.other-profile-buttons
  background-image: url("/images/communicate.png")
  background-size: 90%

.switch
  background-image: url("/images/switch.png")
  width: 114px
  height: 30px
  &[data-name="follow"]
    background-position-y: 30px
  &[data-name="friend"]
    background-position-y: 60px

.thumbnail-user
  display: inline-block
  width: 30%
  text-align: left
  .user-info
    position: relative
    width: 100%
    margin-top: -1em
    > div
      position: absolute
  &:hover
    .user-info
      padding: 6px 0
      z-index: 1
      > div
        border: 1px solid $font
        background-color: #F5F5F5
        .name
          text-align: left
          margin-bottom: 6px
    .hidden
      display: block
  .hidden
    display: none
  .user-info > div
    margin-left: 6px
    margin-top: -8px
    padding: 8px
  > div
    display: flex
    flex-direction: row
    align-items: center
    .avatar
      margin: 8px 0

.layout-user-search .record
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  .avatar
    margin: 8px
    width: 48px
    height: 48px
  .message
    flex: 1
  .switch
    position: relative
    > *
      position: absolute
      width: 30px
      height: 30px
      cursor: pointer
    .friend
      right: 0

.tile
  &.informer
    .busy3
      margin: auto
      width: 45px
      height: 15px
  &.photo
    a
      display: block
      width: 100%
      height: 100%
      background-size: cover
    .empty
      border: 1px solid white
      margin: 4px
      width: 56px
      height: 56px
      border-radius: 4px
      &:after
        margin: 2px
        width: 52px
        height: 52px
        border-radius: 2px
        background-color: rgba(255, 255, 255, 0.6)

[name="country"] option > div
  div:last-child
    float: right

.location > *
  margin-right: 4px

@media (min-width: 1201px)
  .profile-relative
    header
      max-width: 860px
      min-height: 480px
  .background
    height: 700px
  .tile
    width: 134px
    height: 134px
  .title
    width: 402px
    height: 134px
  .big-avatar
    width: 224px
    height: 224px

@media (max-width: 1200px)
  .profile-relative
    header
      max-width: 524px
      min-height: 260px
  .background
    height: 380px
  .tile
    width: 74px
    height: 74px
  .title
    width: 222px
    height: 74px
  .avatar-block > *
    margin-bottom: 4px
  .big-avatar
    width: 130px
    height: 130px
  .profile-buttons
    width: 130px
    height: 30px
    background-size: contain
    background: url("/images/1200/own-profile-buttons.png") center
