@import 'var.sass'

.layout-profile.group
  article
    flex-direction: row-reverse

.profile-relative
  position: relative
  text-align: center
  header
    padding: 32px 40px
    margin: auto
    text-align: left
    max-width: 400px
    .photo
      background-size: cover
    .informer
      color: white
      text-align: center
      vertical-align: top
      .value
        margin-top: 18px
      .label
        font-size: 6pt
        margin: 8px auto auto
        text-transform: uppercase
      &.audio
        background-color: #EE3063
      &.track
        background-color: #4EA6FA
      &.friends
        background-color: #31356C
      &.followers
        background-color: #31ABE0
      &.groups
        background-color: #EE5A34
      &.video
        background-color: #8FC449
    .avatar-block-placeholder
      margin: 8px
      float: right
      width: 104px
      height: 144px
  .background
    position: absolute
    background: url("/images/profile-bg.jpg") no-repeat center
    background-size: cover
    filter: blur(1px)
    width: 100%
    height: 340px
    z-index: -1
    //-webkit-filter: blur(1px)
  .tile
    display: inline-block
    width: 64px
    height: 64px
    white-space: nowrap
  .title
    textarea
      color: #BCBCBC
      overflow: hidden
    vertical-align: top
    color: white
    display: inline-block
    width: 192px
    height: 64px
  .location
    font-size: 0.8em
    margin-top: 0.2em
  .status
    font-size: 0.8em
    background-color: transparent
    color: #BCBCBC
    margin-top: 0.3em
    border: none
    width: 180px
    resize: none
  article
    display: flex
    .left
      flex: 1
      text-align: center
    .right
      flex: 2.5
      background-color: white
      padding: 4px

  .avatar-block
    display: inline-block
    background-color: white
    padding: 4px
    .buttons
      background-color: #ECEFF4
      margin-top: 16px
      border: 1px solid #BCBCBC
      border-radius: 2px
      cursor: pointer

  .big-avatar
    background-size: cover
    width: 96px
    height: 96px

.form-edit
  display: inline-block
  margin: auto
  text-align: left
  h1
    text-align: center
    .title
      margin-left: 8px
  .field-domain
    input
      font: $font
      background-color: transparent
      margin-left: -1px
      border: none
  .form-control
    width: calc(100% - 26px)

@media (max-width: 1024px)
  article
    flex-flow: column
    .left
      margin-bottom: 8px
      margin-right: 8px
      .avatar-block
        float: right
  .profile-relative
    header
      padding: 16px 20px
      .photo
        display: none
  .hiddable
    display: none !important
  .background
    height: 300px

@media (min-width: 769px) and (max-width: 1024px)
  article
    margin-top: -64px

@media (max-width: 768px)
  .profile-relative
    > *
      width: 100vw
      position: absolute
      flex-flow: column
    > article
      margin-top: 8px

@media (min-width: 341px) and (max-width: 768px)
  .profile-relative > header
    width: calc(100vw - 136px)

@media (max-width: 400px)
  .profile-relative
    .title
      width: 128px

@media (min-width: 340px) and (max-width: 400px)
  .profile-relative .avatar-block
    margin-bottom: 64px

@media (max-width: 340px)
  .avatar-block
    background-color: transparent !important
    margin-top: 96px
    border: none
    .big-avatar
      display: none

.friend .list > div
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  > a
    display: inline-block
    width: calc(30% - 8px)
    > div
      display: flex
      border-bottom: 1px solid $text_color
      > div
        margin: 4px

.other-profile-buttons
  display: flex
  height: 30px
  width: 90px
  background: url("/images/communicate.png") no-repeat center
  background-size: contain
  > div
    flex: 1
    background-size: 90%
    border-right: 1px solid #BCBCBC
  > div:last-child
    border-right: none

.switch
  background-image: url("/images/switch.png")
  width: 114px
  height: 30px
  &[data-name="follow"]
    background-position-y: 30px
  &[data-name="friend"]
    background-position-y: 60px

.thumbnail-user
  display: inline-block
  width: 30%
  .info
    position: relative
    margin-top: -1em
    > div
      position: absolute
  &:hover
    .info
      padding: 6px 0
      z-index: 1
      > div
        border: 1px solid $font
        background-color: #F5F5F5
        .name
          text-align: left
          margin-bottom: 6px
    .hidden
      display: block
  .hidden
    display: none
  .info > div
    margin-left: 6px
    margin-top: -8px
    padding: 8px
  > div
    display: flex
    flex-direction: row
    align-items: center
    .avatar
      margin: 8px 0

.layout-user-search .record
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  .avatar
    margin: 8px
    width: 48px
    height: 48px
  .message
    flex: 1
  .switch
    position: relative
    > *
      position: absolute
      width: 30px
      height: 30px
      cursor: pointer
    .friend
      right: 0

.tile
  &.informer
    .busy3
      margin: auto
      width: 45px
      height: 15px
  &.photo
    a
      display: block
      width: 100%
      height: 100%
      background-size: cover
    .empty
      border: 1px solid white
      margin: 4px
      width: 56px
      height: 56px
      border-radius: 4px
      &:after
        margin: 2px
        width: 52px
        height: 52px
        border-radius: 2px
        background-color: rgba(255, 255, 255, 0.6)

.avatar
  background-image: url("/images/man.png")
