.layout-videos
  .frame
    text-align: center
  .list
    overflow-y: auto
    height: 100%
  .resize
    color: grey
    height: 4px
  .search
    background-color: #E0E0E0
    > *
      line-height: 28px
      vertical-align: middle
    .icon
      padding-left: 2px
      text-align: center
      width: 26px
    input
      padding: 0
      border: 2px solid #E0E0E0
      border-radius: 0
      line-height: 24px
      width: calc(100% - 28px)

.thumbnail-video figure
  display: inline-block
  margin: 2px
  width: calc(50% - 4px)
  vertical-align: top
  figcaption
    font-size: 0.8em
  img
    margin: -16px auto
    width: 100%
    clip-path: inset(16px 0)
    -webkit-clip-path: inset(12% 0)
    -moz-clip-path: inset(12% 0)
