
.window
  display: flex
  flex-flow: column
  position: fixed
  padding: 6px
  .view
    flex: 1 0 100%
    color: black

.window-content
  display: flex
  overflow: auto
  .view
    padding: 4px
    //text-align: center
  .view.error
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    .message-container
      display: flex
      align-items: center
      justify-content: center
      color: red
      margin-bottom: 1em
      width: auto
      .fa
        font-size: 3em
      .text
        margin-left: 1em
        text-align: left

.window-content form.view
  text-align: left

.float-window
  position: fixed
  top: 30%
  left: 40%
  background-color: white
  min-width: 120px
  min-height: 80px
  z-index: 1
  .window-controls
    cursor: move
    .fa
      cursor: pointer
  h1
    font-size: 0
