<script type="text/template" id="view-post">
    <div class="content">
        <div class="info">
            <div class="container">
                <div class="avatar"></div>
                <div>
                    <a class="name"></a>
                    <div class="time"></div>
                </div>
            </div>
            <hr/>
        </div>
        <div class="message">
            <a class="name"></a>
            <div class="text"></div>
            <div class="repost"></div>
        </div>
    </div>
    <div class="controls">
        <button type="button" class="comment unemitted hidden">
            <span class="fa fa-comment"></span>
            <span>Comment</span>
        </button>
        <button type="button" class="share fa fa-reply unemitted hidden"></button>
        <div class="attitude">
            <div data-name="hate"></div>
            <div></div>
            <div data-name="like"></div>
        </div>
        <div class="fa fa-trash remove hidden"></div>
    </div>
    <div class="repost"></div>
    <div class="children hidden"></div>
</script>

<script type="text/template" id="layout-editor">
    <div class="editor-container">
        <div class="button attach hidden"></div>
        <textarea class="text" placeholder="Type your message..."></textarea>
        <img class="button smile" src="/images/smiles/smile.png"/>
        <div class="button send"></div>
    </div>
    <div class="smiles"></div>
    <div class="select-attachment"></div>
    <div class="attachments"></div>
</script>

<script type="text/template" id="layout-dialog">
    <div class="list scroll"></div>
    <div class="editor"></div>
    <div class="bottom"></div>
</script>

<script type="text/template" id="layout-messenger">
    <div class="dialog-list">
        <div class="list"></div>
        <div class="search"></div>
    </div>
    <div class="dialog-region"></div>
</script>

<script type="text/template" id="view-last-message">
    <div class="avatar">
        <div class="unread"></div>
    </div>
    <div class="text"></div>
    <div class="time"></div>
</script>

<script type="text/template" id="view-conference">
    <video></video>
    <audio>
        <source/>
    </audio>
    <div class="controls">
        <div data-action="fullscreen" class="fa fa-arrows-alt"></div>
        <div data-action="phone" class="fa fa-phone"></div>
        <div data-action="microphone" class="fa fa-microphone"></div>
        <div data-action="camera" class="fa fa-video-camera"></div>
        <div data-action="mute" class="fa fa-volume-up" title="Mute"></div>
        <input data-id="volume" type="range" max="10"/>
    </div>
</script>

<script type="text/template" id="view-message">
    <div class="time"></div>
    <div class="text"></div>
    <div class="user-info">
        <div class="avatar"></div>
        <div class="name"></div>
    </div>
</script>

<script type="text/template" id="view-wall">
    <div class="editor"></div>
    <div class="list"></div>
</script>

<script type="text/template" id="layout-comment">
    <div class="list"></div>
    <div class="editor"></div>
</script>
