<script type="text/template" id="layout-message">
    <div class="content">
        <div class="info">
            <div>
            <div class="avatar"></div>
            <div class="time"></div>
            <div class="ip"></div>
            </div>
        </div>
        <div class="text"></div>
        <div class="repost"></div>
    </div>
    <div class="message-controls">
        <button type="button" class="comment">
            <span class="fa fa-comment"></span>
            <span>Comment</span>
        </button>
        <button type="button" class="share fa fa-reply"></button>
        <div class="fa fa-thumbs-up"></div>
        <div class="fa fa-thumbs-down"></div>
        <div class="like-slider-container">
            <div class="like-slider"></div>
        </div>
    </div>
    <div class="photos"></div>
    <div class="videos"></div>
    <div class="repost"></div>
    <div class="children"></div>
</script>

<script type="text/template" id="view-editor-layout">
    <div class="editor">
        <textarea name="text" placeholder="Message..."></textarea>
        <img class="avatar"/>
    </div>
    <div class="buttons">
        <button type="submit">Send</button>
        <button type="button" data-type="photo" data-list="photos">Photo</button>
        <button type="button" data-type="video" data-list="videos">Video</button>
        <button type="button" data-type="file" data-list="files">File</button>
    </div>
    <div class="attachments">
        <div data-list="photos"></div>
        <div data-list="videos"></div>
        <div data-list="files"></div>
    </div>
    <div class="selection"></div>
</script>

<script type="text/template" id="view-last-message">
    <div class="info">
        <div class="domain"></div>
        <img class="avatar"/>
        <div class="time"></div>
    </div>
    <div class="unread-count"></div>
    <div class="text"></div>
</script>

<script type="text/template" id="view-conference">
    <video></video>
    <audio>
        <source/>
    </audio>
    <div class="controls">
        <div data-action="fullscreen" class="fa fa-arrows-alt"></div>
        <div data-action="phone" class="fa fa-phone"></div>
        <div data-action="microphone" class="fa fa-microphone"></div>
        <div data-action="camera" class="fa fa-video-camera"></div>
        <div data-action="mute" class="fa fa-volume-up" title="Mute"></div>
        <input data-id="volume" type="range" max="10"/>
    </div>
</script>
