<script type="text/template" id="view-message">
    <div class="info">
        <img class="avatar"/>
        <div class="time"></div>
    </div>
    <div class="text"></div>
</script>

<script type="text/template" id="view-dialog">
    <div class="messages"></div>
    <div class="editor">
        <div>
        <textarea placeholder="Message..."></textarea>
        <img class="avatar"/>
        </div>
        <div class="buttons">
            <button type="submit">Send</button>
            <button type="button">Photo</button>
            <button type="button">Video</button>
            <button type="button">File</button>
        </div>
    </div>
</script>

<!--script type="text/template" id="view-dialog">
    <div class="text"></div>
    <div class="unread"></div>
</script>

<script type="text/template" id="view-dialogs">
    <div class="dialogs"></div>
</script-->
