<script type="text/template" id="layout-message">
    <div class="content">
        <a class="info">
            <div class="container">
                <div>
                    <div class="avatar"></div>
                    <div class="time"></div>
                    <div class="ip"></div>
                </div>
            </div>
        </a>
        <div class="message">
            <a class="name"></a>
            <div class="text"></div>
            <div class="repost"></div>
        </div>
    </div>
    <div class="message-controls">
        <button type="button" class="comment">
            <span class="fa fa-comment"></span>
            <span>Comment</span>
        </button>
        <button type="button" class="share fa fa-reply"></button>
        <div class="fa fa-thumbs-up" style="display: none"></div>
        <div class="fa fa-thumbs-down" style="display: none"></div>
        <div class="wall-like">
            <div class="left"></div>
            <div class="center"></div>
            <div class="right"></div>
        </div>
    </div>
    <div class="photos"></div>
    <div class="videos"></div>
    <div class="repost"></div>
    <div class="children"></div>
</script>

<script type="text/template" id="layout-editor">
    <div class="editor-container">
        <div class="button attach"></div>
        <div class="editor text" contenteditable="true">
            <span class="placeholder">Type your message...</span></div>
        <div class="button smile">&#x1F600;</div>
        <div class="button send"></div>
    </div>
    <div class="smiles"></div>
    <div class="select-attachment"></div>
    <div class="attachments"></div>
</script>

<script type="text/template" id="layout-dialog">
    <div class="list scroll"></div>
    <div class="editor"></div>
    <div class="bottom"></div>
</script>

<script type="text/template" id="view-last-message">
    <div class="info">
        <div class="domain"></div>
        <img class="avatar"/>
        <div class="time"></div>
    </div>
    <div class="unread-count"></div>
    <div class="text"></div>
</script>

<script type="text/template" id="view-conference">
    <video></video>
    <audio>
        <source/>
    </audio>
    <div class="controls">
        <div data-action="fullscreen" class="fa fa-arrows-alt"></div>
        <div data-action="phone" class="fa fa-phone"></div>
        <div data-action="microphone" class="fa fa-microphone"></div>
        <div data-action="camera" class="fa fa-video-camera"></div>
        <div data-action="mute" class="fa fa-volume-up" title="Mute"></div>
        <input data-id="volume" type="range" max="10"/>
    </div>
</script>

