<script type="text/template" id="view-window">
    <div class="controls window-controls">
        <h1 class="title"></h1>
        <nav>
            <div title="close" class="fa fa-times-circle"></div>
            <div title="maximize" class="fa fa-plus-circle"></div>
        </nav>
    </div>
    <div class="window-content"></div>
</script>

<script type="text/template" id="view-error">
    <h1></h1>
    <div class="message-container">
        <div class="fa fa-exclamation-circle"></div>
        <div class="text"></div>
    </div>
</script>

<script type="text/template" id="view-code">
    <div class="form-group">
        <label>Code</label>
        <input class="form-control" name="code"/>
    </div>
    <section class="buttons">
        <button type="submit">Verify</button>
    </section>
</script>

<script type="text/template" id="view-upload">
    <input type="file" multiple/>
</script>

<script type="text/template" id="view-photo">
    <img/>
</script>

<script type="text/template" id="view-photo-thumbnail">
</script>

<script type="text/template" id="view-thresome-layout">
    <div class="top"></div>
    <div class="middle"></div>
    <div class="bottom"></div>
</script>

<script type="text/template" id="view-user-item">
    <div>
        <div class="name"></div>
        <div>
            <span class="country"></span>
            <span class="city"></span>
        </div>
    </div>
    <img class="avatar"/>
</script>

<script type="text/template" id="view-user-list-layout">
    <input type="search" placeholder="Search"/>
    <div class="users"></div>
</script>

<script type="text/template" id="view-chat-layout">
    <div class="form-group">
        <label>Name</label>
        <input name="name"/>
    </div>
    <div class="members"></div>
    <div class="selection"></div>
</script>

<script type="text/template" id="view-audio">
    <div class="title">
        <div class="author"></div>
        <div class="name"></div>
        <div class="duration"></div>
        <div class="bit_rate"></div>
    </div>
    <audio controls preload="none">
        <source/>
    </audio>
</script>

<script type="text/template" id="view-unsupported">
    <img class="illustration" src="/images/sad-cat.jpg"/>
    <div class="info">
        <div class="text"></div>
        <div class="browsers">
            <a class="browser-chrome" href="https://www.google.com/chrome">
                <figure>
                    <img src="/images/browsers/chrome.svg"/>
                    <figcaption>Chrome</figcaption>
                </figure>
            </a>
            <a class="browser-firefox" href="https://www.mozilla.org/firefox">
                <figure>
                    <img src="/images/browsers/firefox.svg"/>
                    <figcaption>Firefox</figcaption>
                </figure>
            </a>
            <a class="browser-opera" href="http://www.opera.com/">
                <figure>
                    <img src="/images/browsers/opera.png"/>
                    <figcaption>Opera</figcaption>
                </figure>
            </a>
            <a class="browser-yandex" href="https://browser.yandex.com/">
                <figure>
                    <img src="/images/browsers/yandex.png"/>
                    <figcaption>Yandex Browser</figcaption>
                </figure>
            </a>
        </div>
    </div>
</script>

<script type="text/template" id="view-alert">
    <div class="message"></div>
    <div class="close">&times;</div>
</script>
