<script type="text/template" id="view-profile-layout">
    <div class="profile-relative">
        <div class="background" data-change="user/change?field=background&value=$id"></div>
        <header>
            <div class="title">
                <div class="name"></div>
                <div class="location">
                    <div class="fa fa-map-marker"></div>
                    <div class="city"></div>
                    <div class="country"></div>
                </div>
                <textarea class="status" placeholder="status"></textarea>
            </div>
            <div class="informer audio tile">
                <div class="value">1234</div>
                <div class="label">audio</div>
            </div>
            <div class="tile photo" draggable="true"></div>
            <div class="informer track tile hiddable"></div>

            <div class="informer friends tile">
                <div class="value">123</div>
                <div class="label">friends</div>
            </div>
            <div class="informer followers tile">
                <div class="value">123</div>
                <div class="label">followers</div>
            </div>
            <div class="tile photo"></div>
            <div class="tile photo"></div>
            <div class="tile photo"></div>
            <div class="tile photo"></div>

            <div class="tile hiddable"></div>
            <div class="tile photo"></div>
            <div class="informer groups tile">
                <div class="value">1234</div>
                <div class="label">groups</div>
            </div>
            <div class="informer video tile">
                <div class="value">1234</div>
                <div class="label">video</div>
            </div>
            <div class="tile hiddable"></div>
            <div class="tile photo"></div>
        </header>
        <article>
            <div class="left">
                <div class="avatar-block">
                    <div class="big-avatar"></div>
                    <div class="buttons">
                        <button type="button" class="fa fa-pencil-square-o edit"></button>
                        <button type="button" class="fa fa-bar-chart"></button>
                        <button type="button" class="fa fa-power-off logout"></button>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="photos"></div>
                <div class="messages"></div>
            </div>
        </article>
    </div>
</script>

<script type="text/template" id="view-settings" data-src="/templates/profile.html">
    <div class="form-group admin admin-field">
        <label>Domain</label>
        <input class="form-control" name="domain"/>
    </div>
    <div class="form-group admin admin-field">
        <label>Type</label>
        <select class="form-control" name="type">
            <option value="user">User</option>
            <option value="group">Group</option>
            <option value="admin">Admin</option>
        </select>
    </div>
    <fieldset>
        <legend>Contacts</legend>
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" name="name"/>
        </div>
        <div class="form-group">
            <label>City</label>
            <input class="form-control" name="city"/>
        </div>
        <div class="form-group">
            <label>Country</label>
            <input class="form-control" name="country"/>
        </div>
        <div class="form-group">
            <label>Address</label>
            <input class="form-control" name="address"/>
        </div>
    </fieldset>
    <fieldset>
        <legend>Security</legend>
        <div class="form-group">
            <label>Phone</label>
            <input class="form-control" name="phone"/>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="form-control" name="password" type="password"/>
        </div>
    </fieldset>
    <fieldset>
        <legend>Personal</legend>
        <div class="form-group">
            <label>Avatar</label>
            <input class="form-control" name="avatar" type="file"/>
            <img class="avatar preview"/>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" name="name"/>
        </div>
        <div class="form-group">
            <label>Birthday</label>
            <input class="form-control" name="birthday"/>
        </div>
        <div class="form-group">
            <label>Relationship</label>
            <select class="form-control" name="relationship">
                <option value="0">None selected</option>
                <option value="1">Single</option>
                <option value="2">In a relationship</option>
                <option value="3">Engaged</option>
                <option value="4">Married</option>
                <option value="5">In love</option>
                <option value="6">It's complicated</option>
                <option value="7">Actively searching</option>
            </select>
        </div>
        <div class="form-group">
            <label>Languages</label>
            <input class="form-control" name="languages"/>
        </div>
        <div class="form-group">
            <label>About</label>
            <textarea class="form-control" name="about"></textarea>
        </div>
    </fieldset>
    <section class="buttons">
        <button type="submit">Save</button>
    </section>
</script>
