<div class="form-group admin admin-field">
    <label>Domain</label>
    <input class="form-control" name="domain"/>
</div>
<div class="form-group admin admin-field">
    <label>Type</label>
    <select class="form-control" name="type">
        <option value="user">User</option>
        <option value="group">Group</option>
        <option value="admin">Admin</option>
    </select>
</div>
<fieldset>
    <legend>Contacts</legend>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="name"/>
    </div>
    <div class="form-group">
        <label>City</label>
        <input class="form-control" name="city"/>
    </div>
    <div class="form-group">
        <label>Country</label>
        <input class="form-control" name="country"/>
    </div>
    <div class="form-group">
        <label>Address</label>
        <input class="form-control" name="address"/>
    </div>
</fieldset>
<fieldset>
    <legend>Security</legend>
    <div class="form-group">
        <label>Phone</label>
        <input class="form-control" name="phone"/>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input class="form-control" name="password" type="password"/>
    </div>
</fieldset>
<fieldset>
    <legend>Personal</legend>
    <div class="form-group">
        <label>Avatar</label>
        <input class="form-control" name="avatar" type="file"/>
        <img class="avatar preview" />
    </div>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="name"/>
    </div>
    <div class="form-group">
        <label>Birthday</label>
        <input class="form-control" name="birthday"/>
    </div>
    <div class="form-group">
        <label>Relationship</label>
        <select class="form-control" name="relationship">
            <option value="0">None selected</option>
            <option value="1">Single</option>
            <option value="2">In a relationship</option>
            <option value="3">Engaged</option>
            <option value="4">Married</option>
            <option value="5">In love</option>
            <option value="6">It's complicated</option>
            <option value="7">Actively searching</option>
        </select>
    </div>
    <div class="form-group">
        <label>Languages</label>
        <input class="form-control" name="languages"/>
    </div>
    <div class="form-group">
        <label>About</label>
        <textarea class="form-control" name="about"></textarea>
    </div>
</fieldset>
<section class="buttons">
    <button type="submit">Save</button>
</section>
