<script type="text/template" id="form-login" data-class="front">
    <div class="login">
        <fieldset>
            <div class="form-group">
                <input class="form-control" name="login" placeholder="Login"/>
                <span class="help-block">Your login, phone or user id</span>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" type="password" placeholder="Password"/>
                <span class="help-block"></span>
            </div>
            <button type="submit">Enter</button>
        </fieldset>
        <div class="buttons">
            <button type="button" class="recovery">Forgot your password?</button>
        </div>
    </div>
    <img class="evart-social-network" src="/images/evart-social-network.png"/>
    <a href="/signup/phone">Signup</a>
</script>

<script type="text/template" id="layout-signup" data-class="front signup">
    <div class="login-region"></div>
    <div class="signup-region">
        <form class="form-signup">
            <h1>Simple registration in 3 steps</h1>
            <h2>Fill all fields to register</h2>
            <div class="step-container">
                <div class="line"></div>
                <div class="steps">
                    <div class="phone">
                        <div class="circle">1</div>
                        <div class="label">Step</div>
                    </div>
                    <div class="code">
                        <div class="circle">2</div>
                        <div class="label">Step</div>
                    </div>
                    <div class="personal">
                        <div class="circle">3</div>
                        <div class="label">Step</div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <fieldset class="phone">
                    <span>+</span>
                    <input name="phone" class="form-control" placeholder="Phone"/>
                    <button type="button">Signup</button>
                    <div class="help-block"></div>
                </fieldset>
                <fieldset class="code">
                    <input name="code" class="form-control" placeholder="Code"/>
                    <button type="button">Verify</button>
                    <div class="help-block"></div>
                </fieldset>
                <fieldset class="personal">
                    <div class="form-group">
                        <input class="form-control" name="domain" placeholder="Login"/>
                        <div class="help-block"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="email" placeholder="Email"/>
                        <div class="help-block"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="password" placeholder="Password" type="password"/>
                        <div class="help-block"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="repeat" placeholder="Repeat Password" type="password"/>
                        <div class="help-block"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="forename" placeholder="First Name"/>
                        <div class="help-block"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="surname" placeholder="Last Name"/>
                        <div class="help-block"></div>
                    </div>
                    <button type="button">Signup</button>
                </fieldset>
            </div>
        </form>
    </div>
    <img class="footer" src="/images/signup-footer.jpg"/>
</script>

<script type="text/template" id="layout-user">
    <div class="profile-relative">
        <div class="fa fa-camera"></div>
        <div class="background"></div>
        <header>
            <div class="title">
                <div class="name"></div>
                <div class="location">
                    <span class="fa fa-map-marker"></span>
                    <span class="city"></span>
                    <span class="country"></span>
                </div>
                <textarea class="status" placeholder="status"></textarea>
            </div>
            <div class="informer audio tile">
                <div class="value">
                    <div class="busy3"></div>
                </div>
                <div class="label">Audio</div>
            </div>
            <div class="tile photo empty" data-number="0"></div>
            <div class="informer track tile hiddable"></div>

            <div class="informer friends tile">
                <div class="value">
                    <div class="busy3"></div>
                </div>
                <div class="label">Friends</div>
            </div>
            <div class="informer followers tile">
                <div class="value">
                    <div class="busy3"></div>
                </div>
                <div class="label">Followers</div>
            </div>
            <div class="tile photo empty" data-number="1"></div>
            <div class="tile photo empty" data-number="2"></div>
            <div class="tile photo empty" data-number="3"></div>
            <div class="tile photo empty" data-number="4"></div>

            <div class="tile hiddable"></div>
            <div class="tile photo empty" data-number="5"></div>
            <div class="informer groups tile">
                <div class="value">
                    <div class="busy3"></div>
                </div>
                <div class="label">Groups</div>
            </div>
            <div class="informer video tile">
                <div class="value">
                    <div class="busy3"></div>
                </div>
                <div class="label">Video</div>
            </div>
            <div class="tile hiddable"></div>
            <div class="tile photo empty" data-number="6"></div>
        </header>
        <article class="article">
            <div class="left">
                <div class="avatar-block">
                    <div class="big-avatar">
                        <div class="fa fa-camera"></div>
                    </div>
                    <div class="follow" style="display: none">Follow</div>
                    <div class="buttons"></div>
                </div>
            </div>
            <div class="right profile-content-region">
            </div>
        </article>
    </div>
</script>

<script type="text/template" id="view-my-profile-buttons">
    <button class="fa fa-pencil-square-o edit" title="Settings"></button>
    <button class="fa fa-bar-chart unavailable"></button>
    <button class="fa fa-power-off logout" title="Logout"></button>
</script>

<script type="text/template" id="view-other-profile-buttons">
    <div class="message" title="Message"></div>
    <div class="phone" title="Call"></div>
    <div class="camera" title="Video call"></div>
</script>

<script type="text/template" id="view-profile-buttons">
    <div class="settings" title="Settings"></div>
    <div class="statistics" title="Statistics"></div>
    <div class="logout" title="Logout"></div>
</script>

<script type="text/template" id="form-edit">
    <h1>
        <span class="fa fa-users"></span>
        <span class="title"></span>
    </h1>
    <!--div class="form-group admin admin-field">
        <select class="form-control" name="type">
            <option value="user">User</option>
            <option value="group">Group</option>
            <option value="admin">Admin</option>
        </select>
    </div-->
    <nav>
        <button type="button" class="change-password">Change Password</button>
        <!--<button type="button" class="t"></button>-->
    </nav>

    <div class="form-group create-only field-domain">
        <div class="form-control">
            <span class="url"><span class="origin"></span>/view/</span>
            <input name="domain" placeholder="address"/>
        </div>
        <div class="help-block"></div>
    </div>
    <div class="form-group group-only">
        <input class="form-control" name="name" placeholder="Name"/>
        <div class="help-block"></div>
    </div>
    <div class="form-group user-only">
        <input class="form-control" name="forename" placeholder="First Name"/>
    </div>
    <div class="form-group user-only">
        <input class="form-control" name="surname" placeholder="Last Name"/>
    </div>
    <div class="form-group user-only">
        <input class="form-control" name="birthday" placeholder="Birthday"/>
    </div>
    <div class="form-group user-only">
        <select class="form-control" name="sex"></select>
    </div>
    <div class="form-group user-only">
        <select class="form-control" name="relationship"></select>
    </div>
    <div class="form-group user-only">
        <select class="form-control" name="country"></select>
    </div>
    <div class="form-group user-only city">
    </div>
    <div class="form-group user-only">
        <select class="form-control" name="language"></select>
    </div>
    <div class="form-group">
        <textarea class="form-control" name="about" placeholder="About"></textarea>
        <div class="help-block"></div>
    </div>
    <section class="buttons">
        <button type="submit">Save</button>
    </section>
</script>

<script type="text/template" id="thumbnail-user">
    <div>
        <div>
            <div class="avatar"></div>
        </div>
        <div class="user-info">
            <div>
                <div class="visible">
                    <div class="name"></div>
                    <div>
                        <span class="country"></span>
                        <span class="city"></span>
                    </div>
                </div>
                <div class="hidden">
                    <div class="buttons"></div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="layout-user-search">
    <h1 class="t">Friends</h1>
    <nav>
        <div class="requests t">Requests</div>
        <div class="important t">Important</div>
        <div class="all t">All</div>
    </nav>
    <div>
        <div class="icon fa fa-search"></div>
        <input type="search"/>
    </div>
    <div class="list"></div>
</script>

<script type="text/template" id="view-record">
    <div class="avatar-container">
        <div class="avatar"></div>
    </div>
    <div class="whom">
        <div class="name"></div>
        <div class="time"></div>
    </div>
    <div class="message"></div>
    <div>
        <div class="switch">
            <div class="follow"></div>
            <div class="friend"></div>
        </div>
    </div>
</script>

<script type="text/template" id="view-password">
    <fieldset>
        <legend></legend>
        <div class="fields">
            <div class="form-group" id="field-code">
                <input name="code" placeholder="Code" style="display: none"/>
                <span class="help-block"></span>
            </div>
            <div class="form-group" id="field-old_password">
                <input type="password" name="old_password" placeholder="Old Password" style="display: none"/>
                <span class="help-block"></span>
            </div>
            <div class="form-group" id="field-password">
                <input type="password" name="password" placeholder="New Password"/>
                <span class="help-block"></span>
            </div>
            <div class="form-group" id="field-repeat_password">
                <input type="password" name="repeat_password" placeholder="Repeat Password" style="display: none"/>
                <span class="help-block"></span>
            </div>
        </div>
    </fieldset>
    <div class="buttons">
        <button type="button">Change</button>
    </div>
</script>

<script type="text/template" id="view-recovery">
    <fieldset>
        <legend>Password Recovery</legend>
        <div class="fields">
            <div class="form-group" id="field-phone">
                <input name="phone" placeholder="Phone"/>
                <span class="help-block"></span>
            </div>
        </div>
    </fieldset>
    <div class="buttons">
        <button type="button">Send Code</button>
    </div>
</script>
