<script type="text/template" id="view-load-video">
    <input/>
    <button type="button">Add</button>
    <div class="video-preview"></div>
</script>

<script type="text/template" id="thumbnail-video">
    <figure>
        <img alt="Undefined video"/>
        <figcaption><span class="error">Preview loading error</span></figcaption>
    </figure>
</script>

<script type="text/template" id="view-video">
    <div class="title"></div>
    <div class="frame"></div>
</script>

<script type="text/template" id="layout-video-list">
    <div class="current"></div>
    <div class="search">
        <div class="icon fa fa-search"></div>
        <input type="search" placeholder="Video search..."/>
    </div>
    <div class="list scroll"></div>
</script>
