body {
    font-family: Tahoma, Geneva, sans-serif;
}

#lib {
    display: none;
}


[data-id="messages"] {
    overflow-y: scroll;
}

#chat > .video {
    text-align: center;
    position: relative;
    min-height: 480px;
}

#chat > .video > .buttons {
    left: 200px;
    top: 10px;
}

#chat > form {
    width: inherit;
}

#chat [data-id="video"] {
    height: 360px;
    background: url("/images/rotary.jpg") no-repeat center;
    background-size: 40%;
}

[data-id="localVideo"] {
    left: 0;
    top: 0;
    width: 160px;
    height: 120px;
}

video.bigger {
    height: 600px;
}

#chat .messages {
    background-color: white;;
}

[data-id="messages"] {
    min-height: 6em;
}

#chat textarea {
    width: 88%;
}

.table-block {
    display: table;
}

.table-block > div {
    display: table-row;
}

.table-block > div > div {
    display: table-cell;
}

.table-row {
    display: table-row;
}

.table-row > div {
    display: table-cell;
}

.floating {
    position: absolute;
    cursor: move;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;
}

#emoji {
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    padding: 6px;
}

#emoji > div > div {
    line-height: 20px;
    cursor: pointer;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fill {
    width: 100%;
    height: 100%;
}

.splitter {
    min-width: 10px;
    min-height: 10px;
    color: grey;
}

.splitter[data-fixed="x"] {
    cursor: ns-resize;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
}

.splitter[data-fixed="y"] {
    cursor: ew-resize;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    background: -webkit-linear-gradient(left, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    background: linear-gradient(to right, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=1);
}

.top {
    top: 10px;
}

.bottom {
    bottom: 10px;
}

.top, .bottom {
    left: 4vw;
    right: 4vw;
    width: 92vw;
    height: calc(50vh - 5px);
}

.hide {
    display: none;
}

.wrap > .container {
    width: 600px;
}

[data-go] {
    color: blue;
    cursor: pointer;
}

.root {
    margin: auto;
}

.root > * > .content {
    padding-left: 30px;
    width: 600px;
}

[data-widget="video"] img {
    width: 480px;
    cursor: pointer;
}

[data-widget="video-in-processing"] {
    background: black url("/images/processing.gif") center;
    background-size: contain;
    color: white;
    width: 480px;
    line-height: 280px;
    text-align: center;
    vertical-align: bottom;
}

.thumbnail {
    display: inline-block !important;
    margin-right: 8px;
    margin-bottom: 4px !important;
    background: no-repeat;
    background-size: cover;
    width: 128px;
    height: 128px;
    cursor: pointer;
}

.fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 1;
}

.fullscreen.active {
    display: block;
}

#preview {
    background: rgba(0, 0, 0, 0.8);
    vertical-align: middle;
    text-align: center;
    padding-top: 5vh;
}

#preview img {
    box-shadow: 2px 2px 4px #000000;
    cursor: pointer;
    max-height: 90vh;
    max-width: 90vw;
}

#map > div {
    height: 100vh;
    width: 100vw;
}

.avatar-xs {
    width: 50px;
    height: 50px;
    background: no-repeat;
    background-size: cover;
    cursor: pointer;
    background-image: url("/images/devil.png");
}

[data-widget="comment"] > div {
    padding-bottom: 8px;
}

[data-widget="comment"] > div:last-child {
    vertical-align: top;
    padding-left: 8px;
}

.root > div > nav {
    display: table-cell;
    vertical-align: top;
}
