body {
    font-family: 'Open Sans', sans-serif;
}

.z body {
    background-color: #ededed;
    padding: 6px;
}

.z nav, .z .content > * {
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-color: white;
}

h1 {
    display: none;
}

.z h1 {
    display: block;
}

iframe {
    display: block;
    width: 100%;
    min-height: 480px;
    border: none;
}

.z .content > * {
    padding: 8px;
    margin-bottom: 12px;
}

.col-sm-10 {
    padding-left: 0;
    padding-right: 0;
}

nav {
    padding: 6px 0;
}

nav > * {
    padding: 2px 16px 2px 8px;
    border-left: 3px solid transparent;
    color: #555;
}

nav > *:hover {
    border-left-color: #6fdbe8;
    background-color: #f7f7f7;
}

#lib {
    display: none;
}

[data-id="messages"] {
    overflow-y: scroll;
}

#chat > .video {
    text-align: center;
    position: relative;
    min-height: 480px;
}

#chat > .video > .buttons {
    left: 200px;
    top: 10px;
}

#chat > form {
    width: inherit;
}

#chat [data-id="video"] {
    height: 360px;
    background: url("/images/rotary.jpg") no-repeat center;
    background-size: 40%;
}

[data-id="localVideo"] {
    left: 0;
    top: 0;
    width: 160px;
    height: 120px;
}

video.bigger {
    height: 600px;
}

#chat .messages {
    background-color: white;;
}

[data-id="messages"] {
    min-height: 6em;
}

#chat textarea {
    width: 88%;
}

.table-block {
    display: table;
}

.table-block > div {
    display: table-row;
}

.table-block > div > * {
    display: table-cell;
}

.table-row {
    display: table-row;
}

.table-row > div {
    display: table-cell;
}

.floating {
    position: absolute;
    cursor: move;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;
}

#emoji {
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    padding: 6px;
}

#emoji > div > div {
    line-height: 20px;
    cursor: pointer;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fill {
    width: 100%;
    height: 100%;
}

.top {
    top: 10px;
}

.bottom {
    bottom: 10px;
}

.top, .bottom {
    left: 4vw;
    right: 4vw;
    width: 92vw;
    height: calc(50vh - 5px);
}

.hide {
    display: none;
}

.wrap > .container {
    width: 600px;
}

[data-go] {
    cursor: pointer;
}

.root {
    margin: auto;
}

.root > * > .content {
    padding-left: 30px;
    width: 600px;
}

[data-widget="video"] {
    display: inline-block;
    width: 120px;
    margin: 4px;
}

.z [data-widget="video"] {
    display: inline-block;
    width: 120px;
}

[data-widget="video"] h3 {
    font-size: 12px;
}

.z [data-widget="video"] h3 {
    font-size: 18px;
}

[data-widget="video"] img {
    width: 120px;
    cursor: pointer;
}

.z [data-widget="video"] img {
    width: 480px;
}

[data-widget="video-in-processing"] {
    background: black url("/images/processing.gif") center;
    background-size: contain;
    color: white;
    width: 480px;
    line-height: 280px;
    text-align: center;
    vertical-align: bottom;
}

[data-widget="comment"] .buttons > div {
    color: #708fa0;
    cursor: pointer;
}

.thumbnail {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 4px;
    background: no-repeat;
    background-size: cover;
    width: 128px;
    height: 128px;
    cursor: pointer;
}

.video_thumbnail {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 4px;
    background: no-repeat;
    background-size: cover;
    width: 128px;
    height: 128px;
    line-height: 128px;
    font-size: 48px;
    cursor: pointer;
    vertical-align: top;
    text-align: center;
    border-radius: 4px;
}

.fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 1;
}

.fullscreen.active {
    display: block;
}

#preview {
    background: rgba(0, 0, 0, 0.8);
    vertical-align: middle;
    text-align: center;
    padding-top: 5vh;
}

#preview img {
    box-shadow: 2px 2px 4px #000000;
    cursor: pointer;
    max-height: 90vh;
    max-width: 90vw;
}

#map > div {
    height: 100vh;
    width: 100vw;
}

.avatar-xs {
    width: 50px;
    height: 50px;
    background: no-repeat;
    background-size: cover;
    cursor: pointer;
    background-image: url("/images/devil.png");
}

.avatar-sm {
    width: 100px;
    height: 100px;
    background: no-repeat;
    background-size: cover;
    cursor: pointer;
    background-image: url("/images/devil.png");
}

[data-widget="comment"] .table-row {
    padding-top: 8px;
}

[data-widget="comment"] .table-row > div:nth-child(2) {
    vertical-align: top;
    padding-left: 8px;
}

[id="user/index"] [data-widget="user"] > .user > div {
    display: inline-block;
}

[id="user/index"] [data-widget="user"] hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

[id="user/index"] [data-widget="user"] > .user > div:nth-child(2) {
    vertical-align: top;
    padding-left: 8px;
    padding-right: 8px;
}

[id="user/index"] .buttons {
    vertical-align: top;
}

[id="user/index"] .buttons button {
    display: block;
    margin-top: 4px;
}

[id="video/view"] {
    text-align: center;
    vertical-align: top;
}

[id="video/view"] > * {
    max-height: 360px;
    max-width: 480px;
}

[id="user/view"] h1 {
    color: rgb(69, 104, 142);
    font-size: 12px;
}

[id="user/view"] > .fields > div {
    font-size: 11px;
}

[id="user/view"] > div > .fields > div > div:first-child {
    color: rgb(119, 119, 119);
    padding-right: 40px;
}

[id="user/view"] > div > .fields > div > div:first-child:after {
    content: ":";
}

[id="user/view"] > div > .fields > div > div:last-child {
    color: rgb(69, 104, 142);
}

[id="user/view"] .buttons {
    float: right;
    margin-top: 70px;
}

[id="user/view"] .buttons > button {
    margin-right: 5px;
}

[id="user/view"] .background {
    background-color: #073451;
    min-height: 80px;
    border-radius: 4px;
}

[id="user/view"] .title {
    margin-top: -60px;
    margin-left: 16px;
}

[id="user/view"] .title > div {
    display: inline-block;
}

[id="user/view"] .name {
    vertical-align: top;
    color: white;
    padding-top: 10px;
}

[id="user/view"] .thumbnail {
    border: 3px solid white;
}

[id="user/view"] .friends > div {
    display: inline-block;
}

button {
    background-color: #708fa0;
    border-radius: 3px;
    padding: 2px 8px;
    border: none;
    color: white;
}

button:hover {
    background-color: rgb(130, 175, 201);
}

input, textarea {
    padding: 4px 6px;
    border: 2px solid #ededed;
    border-radius: 4px;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #6fdbe8;
}

#wall textarea {
    width: 100%;
}

#wall hr {
    margin-top: 5px;
    margin-bottom: 8px;
}

#wall [data-id="frame"] .loading {
    text-align: center;
}

#wall [data-action="close"] {
    display: block;
    float: right;
}

.light-blue {
    background-color: #6fdbe8;
}

.tabs [data-open] {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom-color: black;
    padding: 4px 6px;
    cursor: pointer;
}

.tabs [data-open].active {
    border-color: black;
    border-bottom-color: transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: default;
}

.tabs [data-tab] {
    display: none;
}

.tabs [data-tab].active {
    display: block;
}

[id="user/view"] label {
    padding-right: 20px;
}

[id="user/view"] label:after {
    content: ":";
}

[id="user/view"] input {
    min-width: 200px;
}

.vertop {
    vertical-align: top;
}

.tabs .container {
    padding-top: 16px;
}

#wall p {
    float: left;
}

#wall .emoji {
    display: inline-block;
    width: 83%;
    float: right;
    text-align: justify;
}

#wall .emoji.more {
    width: 100%;
}

@media (max-width: 600px) {
    #wall .emoji {
        width: 75%;
    }
}

#wall .emoji span {
    cursor: pointer;
}

#wall .frame {
    clear: both;
}

[id="wall"] button {
    margin-right: 10px;
}

[data-id="list"] > div > div {
    display: inline-block;
}

[data-id="list"] .fa {
    margin-left: 2px;
}

.button {
    cursor: pointer;
}

.button:hover {
    background-color: rgba(111, 219, 232, 0.2);
}
